:root {
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --main-bg-color: #eeeeee;
  --background-color: #ffffff;
  --main-lite-color: rgba(255, 255, 255, 0.6);
  --footer-bg-color: #2f303a;
  --main-bg-color: #f5f4fa;
  --icon-color: #afb1b8;
  --time-animation: 250ms;
  --bezier-animation: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: #ffffff;
  color: #212121;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  outline: 2px solid red;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .header-menu-btn {
    display: none;
  }
}

.header-menu-btn-icon {
  fill: currentColor;
}

.header-menu-btn .icon-close {
  display: none;
}

.header-menu-btn.is-open .icon-close {
  display: block;
}

.header-menu-btn.is-open .icon-menu {
  display: none;
}

.header {
  position: relative;
}

.page-header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  .page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* logo */
.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 88px;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  cursor: pointer;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 93px;
  }
}

.logo-accent {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.23;
  letter-spacing: 0.03em;
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .header-menu {
    position: absolute;
    padding: 48px 40px;
    top: 100%;
    left: 0;
    width: 480px;
    height: 796px;
    background-color: #ffffff;
    display: none;
  }
  .header-menu.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

/* site-nav */
@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.site-nav-link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .site-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-nav-link:hover, .site-nav-link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.site-nav-link.current {
  position: relative;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .site-nav-link.current {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .site-nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav-item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-nav-item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    margin-right: 84px;
  }
}

.contacts-nav-link {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.17;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .contacts-nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .contacts-nav-link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-nav-link:hover, .contacts-nav-link:focus {
    color: #2196f3;
    fill: #2196f3;
  }
}

.contacts-nav-icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts-nav-icon {
    display: block;
    margin-right: 10px;
    fill: currentColor;
    -webkit-transition-property: fill;
    transition-property: fill;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.contacts-nav {
  margin-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media screen and (min-width: 768px) {
  .contacts-nav {
    min-width: 138px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contacts-nav-item + .contacts-nav-item {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .contacts-nav-item + .contacts-nav-item {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-nav-item + .contacts-nav-item {
    margin-left: 30px;
    margin-bottom: 0;
  }
}

.header-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .header-social-list {
    display: none;
  }
}

.header-social-items::after {
  content: " ";
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.header-social-items:not(:last-child) {
  margin-right: 10px;
}
/*# sourceMappingURL=main.css.map */