/* roboto-regular - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.woff2") format("woff2"), url("../../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.woff") format("woff"), url("../../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.ttf") format("truetype"), url("../../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-500.woff2") format("woff2"), url("../../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-500.woff") format("woff"), url("../../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-500.ttf") format("truetype"), url("../../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-700.woff2") format("woff2"), url("../../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-700.woff") format("woff"), url("../../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-700.ttf") format("truetype"), url("../../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-900.woff2") format("woff2"), url("../../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-900.woff") format("woff"), url("../../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-900.ttf") format("truetype"), url("../../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* raleway-regular - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/raleway-v19-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/raleway-v19-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v19-latin_cyrillic-regular.woff2") format("woff2"), url("../../fonts/raleway-v19-latin_cyrillic-regular.woff") format("woff"), url("../fonts/raleway-v19-latin_cyrillic-regular.ttf") format("truetype"), url("../../fonts/raleway-v19-latin_cyrillic-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/raleway-v19-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/raleway-v19-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-700.woff2") format("woff2"), url("../../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-700.woff") format("woff"), url("../../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-regular.ttf") format("truetype"), url("../../fonts/raleway-v19-latin_cyrillic-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

:root {
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --main-bg-color: #eeeeee;
  --background-color: #ffffff;
  --main-lite-color: rgba(255, 255, 255, 0.6);
  --footer-bg-color: #2f303a;
  --main-bg-color: #f5f4fa;
  --icon-color: #afb1b8;
  --time-animation: 250ms;
  --bezier-animation: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: #ffffff;
  color: #212121;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn-subscribe, .modal-btn-thumb, .portfolio, .page-header, .social-footer-thumbs, .social-footer-link, .footer-form, .form-field {
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  width: 100%;
  max-width: 480px;
  height: 100vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  background-color: #ffffff;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  transform: translateX(-50%) translateY(0%);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-site-items:not(:last-child) {
  margin-bottom: 37px;
}

.mobile-site-link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-site-link.current {
  color: #2196f3;
}

.mobile-site-link:hover, .mobile-site-link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.mobile-contacts {
  margin-top: auto;
}

.mobile-contacts-list {
  margin-bottom: 64px;
}

.mobile-contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts-link {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .mobile-contacts-link {
    font-size: 26px;
  }
}

.mobile-contacts-link:hover, .mobile-contacts-link:focus {
  color: #2196f3;
}

.mobile-contacts-link.mail {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

@media screen and (max-width: 479px) {
  .mobile-contacts-link.mail {
    font-size: 20px;
  }
}

.mobile-social-menu {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (max-width: 479px) {
  .mobile-social-menu {
    font-size: 12px;
  }
}

.mobile-social-text:not(:last-child) {
  margin-right: 10px;
}

.mobile-social-text:not(:last-child)::after {
  content: " ";
  margin-left: 10px;
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.burger-icon,
.mobile-close-button {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .burger-button {
    display: none;
  }
}

.burger-button,
.mobile-close-button {
  padding: 0;
  border: none;
  background-color: transparent;
}

.mobile-close-button {
  position: absolute;
  top: 10px;
  right: 15px;
}

.burger-button:hover,
.burger-button:focus,
.mobile-close-button:hover,
.mobile-close-button:focus {
  color: #2196f3;
}

.buttons.primary {
  padding: 10px 30px;
  min-width: 200px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: #2196f3;
  color: #ffffff;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons.primary:hover, .buttons.primary:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.buttons-filters {
  margin: 0px;
  padding: 6px 20px;
  min-width: 73px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: #f5f4fa;
  color: #212121;
  font-family: inherit;
  transition-property: background-color, box-shadow, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-filters:hover, .buttons-filters:focus {
  background-color: #2196f3;
  color: #f5f4fa;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-subscribe {
  justify-content: center;
  padding: 10px;
  min-width: 200px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
}

.btn-icon {
  margin-left: 10px;
}

.modal-btn-thumb {
  position: absolute;
  top: 8px;
  right: 8px;
  justify-content: center;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  color: #000000;
}

.modal-btn-thumb:hover, .modal-btn-thumb:focus {
  color: #2196f3;
}

.modal-icon-close {
  fill: currentColor;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-send {
  text-align: center;
}

.btn-send {
  padding: 10px 56px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  min-width: 200px;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-send:focus, .btn-send:hover {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.header-portfolio {
  border-bottom: 1px solid #ececec;
}

.portfolio {
  justify-content: space-between;
  align-items: center;
}

.page-header {
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
  }
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  cursor: pointer;
  margin-right: 88px;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}

.logo-accent {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.23;
  letter-spacing: 0.03em;
  color: #2196f3;
}

/* site-nav */
.site-nav {
  display: flex;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

.site-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link:hover, .site-nav-link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.site-nav-link.current {
  position: relative;
  color: #2196f3;
}

.site-nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

/* contacts-nav */
@media screen and (max-width: 767px) {
  .contacts-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contacts-nav {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .contacts-nav-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-nav-item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.contacts-nav-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .contacts-nav-link {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-nav-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.02em;
  }
}

.contacts-nav-link:hover, .contacts-nav-link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.icon-mail {
  display: block;
  margin-right: 10px;
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-phone {
  display: block;
  margin-right: 10px;
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-filters {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .section-filters {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.filters-items:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .filters-items:not(:last-child) {
    margin-right: 8px;
    margin-bottom: 0;
  }
}

.filters-items .filter-all {
  background-color: #2196f3;
  color: #f5f4fa;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-items .filter-all:first-child:hover, .filters-items .filter-all:first-child:focus {
  background-color: #f5f4fa;
  color: #212121;
}

.projects-items {
  width: 100%;
}

.project-title {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.projects-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
  }
}

.projects-items {
  outline: 1px solid #f5f4fa;
}

@media screen and (max-width: 767px) {
  .projects-items:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects-items {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-items {
    width: calc((100% - 60px) / 3);
  }
  .projects-items:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .projects-items:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.projects-link {
  display: block;
  width: 100%;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:hover, .projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-title {
  padding: 20px 24px;
  background-color: #ffffff;
}

.projects-thumb {
  position: relative;
  overflow: hidden;
}

.projects-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:hover .projects-overlay-text,
.projects-link:focus .projects-overlay-text {
  opacity: 1;
  transform: translateY(0);
}

.footer-contacts {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.container.footer {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .container.footer {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    text-align: left;
  }
}

.footer-logo {
  display: block;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer-media {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.footer-adress {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-adress:not(:last-child) {
    margin-bottom: 0;
    margin-right: 70px;
  }
}

.adress .adress-map {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adress .adress-map:hover, .adress .adress-map:focus {
  color: #2196f3;
}

.adress .adress-item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .adress .adress-item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.adress .adress-link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
}

.adress .adress-link:hover, .adress .adress-link:focus {
  color: #2196f3;
}

.social-footer {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .social-footer {
    margin-right: 93px;
    margin-bottom: 0;
    min-width: 206px;
    height: 80px;
  }
}

.social-footer-text {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social-footer-thumbs {
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .social-footer-thumbs {
    justify-content: space-between;
  }
}

.social-footer-link {
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-link:hover, .social-footer-link:focus {
  background-color: #2196f3;
}

.social-footer-items {
  width: 44px;
  height: 44px;
}

.social-footer-items:not(:last-child) {
  margin-right: 10px;
}

.social-footer-icons {
  fill: currentColor;
}

.subscribe-footer {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .subscribe-footer {
    text-align: left;
  }
}

.subscribe-footer-text {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-form {
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    flex-direction: row;
    width: 570px;
  }
}

.form-field {
  flex-direction: column;
  margin-bottom: 20px;
}

.form-field .form-field-input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .form-field {
    margin-bottom: 0;
    margin-right: 12px;
    flex-direction: row;
    align-items: center;
  }
}

.form-field-input {
  display: flex;
  margin: 0;
  padding: 15px;
  width: 300px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .form-field-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .form-field-input {
    width: 358px;
  }
}
/*# sourceMappingURL=portfolio.css.map */