:root {
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --main-bg-color: #eeeeee;
  --background-color: #ffffff;
  --main-lite-color: rgba(255, 255, 255, 0.6);
  --footer-bg-color: #2f303a;
  --main-bg-color: #f5f4fa;
  --icon-color: #afb1b8;
  --time-animation: 250ms;
  --bezier-animation: cubic-bezier(0.4, 0, 0.2, 1);
}

$main-font: "Roboto", sans-serif;
$logo-font: "Raleway", sans-serif;
$primary-text-color: #212121;
$title-text-color: #757575;
$accent-color: #2196f3;
$main-bg-color: #eeeeee;
$background-color: #ffffff;
$main-lite-color: rgba(255, 255, 255, 0.6);
$footer-bg-color: #2f303a;
$main-bg-color: #f5f4fa;
$icon-color: #afb1b8;
$time-animation: 250ms;
$bezier-animation: cubic-bezier(0.4, 0, 0.2, 1);
