.section-features {
  @include padding(94px, 94px);
}

.features {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-bottom: -15px;
  }
  @media screen and (min-width: 1200px) {
    min-height: 251px;
    display: flex;
  }
}

.features-thumbs {
  background-color: $main-bg-color;
  @extend %flex;
  justify-content: center;
  margin-bottom: 30px;

  @media screen and (min-width: 480px) {
    width: 450px;
    height: 120px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    height: 120px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
  }
}

.features-items {
  @media screen and (min-width: 480px) {
    width: 450px;
    height: 226px;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    width: 354px;
    height: 226px;
    margin-right: 15px;
    margin-bottom: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 101px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.features-title {
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-text {
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: $title-text-color;
}
