.filters-items .filter-all {
  background-color: $accent-color;
  color: $main-bg-color;

  transition-property: background-color, color;
  transition-duration: $time-animation;
  transition-timing-function: $bezier-animation;

  &:first-child:hover,
  &:first-child:focus {
    background-color: $main-bg-color;
    color: $primary-text-color;
  }
}

.section-filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters-items {
  &:not(:last-child) {
    margin-right: 8px;
  }
}
