.footer-contacts {
  @include padding(60px, 60px);

  background-color: $footer-bg-color;
}
.container.footer {
  text-align: center;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    text-align: left;
  }
}

.footer-logo {
  display: block;
  @include font(26px, 700, 1.19);
  letter-spacing: 0.03em;
  color: $background-color;
  font-family: $logo-font;

  text-decoration: none;
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
  }
}

.footer-media {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.footer-adress {
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 70px;
    }
  }
}

.adress {
  .adress-map {
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: $background-color;
    font-style: normal;

    text-decoration: none;

    transition-property: color;
    transition-duration: $time-animation;
    transition-timing-function: $bezier-animation;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  .adress-item:not(:last-child) {
    margin-bottom: 8px;
    @media screen and (min-width: 768px) {
      margin-bottom: 9px;
    }
  }

  .adress-link {
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: $main-lite-color;
    font-style: normal;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.social-footer {
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    margin-bottom: 0;
    min-width: 206px;
    height: 80px;
  }
}

.social-footer-text {
  margin-bottom: 20px;

  @include font(14px, 700, 1.14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $background-color;
}

.social-footer-thumbs {
  @extend %flex;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
}

.social-footer-link {
  @extend %flex;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: $background-color;

  transition-property: background-color;
  transition-duration: $time-animation;
  transition-timing-function: $bezier-animation;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.social-footer-items {
  width: 44px;
  height: 44px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-footer-icons {
  fill: currentColor;
}

.subscribe-footer {
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.subscribe-footer-text {
  margin-bottom: 20px;
  @include font(14px, 700, 1.14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $background-color;
}

.footer-form {
  @extend %flex;
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    width: 570px;
  }
}

.form-field {
  @extend %flex;
  flex-direction: column;

  margin-bottom: 20px;

  .form-field-input::placeholder {
    @include font(16px, 400, 1.25);

    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: 12px;
    flex-direction: row;
    align-items: center;
  }
}

.form-field-input {
  display: flex;
  margin: 0;
  padding: 15px;
  width: 358px;
  color: $background-color;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
