.hero {
  @include padding(118px, 118px);
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 400px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: #c4c4c4;

  @media screen and (min-width: 480px) {
    @include padding(118px, 118px);
    text-align: center;
    margin: 0 auto;
    width: 480px;
    height: 400px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;

    background-color: #c4c4c4;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
      screen and (min-resolution: 192dpi) and (min-width: 320px),
      screen and (min-resolution: 2dppx) and (min-width: 320px) {
      & {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../images/bg-mob@2x.jpg);
      }
    }
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bg-tablet.jpg);

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
      screen and (min-resolution: 192dpi) and (min-width: 768px),
      screen and (min-resolution: 2dppx) and (min-width: 768px) {
      & {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../images/bg-tablet@2x.jpg);
      }
    }
  }
  @media screen and (min-width: 1200px) {
    @include padding(200px, 200px);
    width: 100%;
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bg-descktop.jpg);
    background-size: cover;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
      screen and (min-resolution: 192dpi) and (min-width: 1200px),
      screen and (min-resolution: 2dppx) and (min-width: 1200px) {
      & {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../images/bg-descktop@2x.jpg);
      }
    }
  }
}

.hero-title {
  @include font(26px, 900, 1.62);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $background-color;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 360px;

  @media screen and (min-width: 768px) {
    max-width: 360px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 696px;
    @include font(44px, 900, 1.36);
  }
}
