.hero {
  @include padding(200px, 200px);
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../imeges/background-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: #c4c4c4;
}
.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 696px;
  @include font(44px, 900, 1.36);
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $background-color;
}
