.clients {
  @include padding(60px, 60px);
  @media screen and (min-width: 1200px) {
    @include padding(94px, 94px);
  }
}

.clients-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -15px;
}

.clients-link {
  @extend %flex;
  justify-content: center;

  width: 100%;
  height: 100%;
  border: 1px solid $icon-color;
  border-radius: 4px;
  color: $icon-color;

  transition-property: border-color;
  transition-duration: $time-animation;
  transition-timing-function: $bezier-animation;

  &:hover,
  &:focus {
    fill: $accent-color;
    border-color: $accent-color;
  }
}

.client-items {
  fill: currentColor;

  transition-property: fill;
  transition-duration: $time-animation;
  transition-timing-function: $bezier-animation;

  .clients-link:hover &,
  .clients-link:focus & {
    fill: $accent-color;
    border-color: $accent-color;
  }
}

.clients-thumbs {
  width: 170px;
  height: 90px;

  margin: 15px;
}
