.section-features {
  @include padding(94px, 94px);
}

.features {
  display: flex;
  min-height: 251px;
}

.features-thumbs {
  @extend %flex;
  justify-content: center;
  margin-bottom: 30px;

  width: 270px;
  height: 120px;
  background-color: $main-bg-color;
}

.features-items {
  width: 270px;
  height: 101px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.features-title {
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-text {
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: $title-text-color;
}
