.modal-btn-thumb {
  position: absolute;
  top: 8px;
  right: 8px;
  @extend %flex;
  justify-content: center;

  background-color: $background-color;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  color: #000000;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.modal-icon-close {
  fill: currentColor;

  transition-property: color;
  transition-duration: $time-animation;
  transition-timing-function: $bezier-animation;
}
