.mobile-menu {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(100%);
  width: 100%;
  max-width: 480px;
  max-height: 796px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  overflow: scroll;

  background-color: $background-color;

  transition-property: transform;
  transition-duration: $time-animation;
  transition-timing-function: $bezier-animation;

  &.is-open {
    transform: translateX(-50%);
  }
}

.mobile-site-nav {
  margin-bottom: 305px;
}

.mobile-site-items:not(:last-child) {
  margin-bottom: 37px;
}

.mobile-site-link {
  @include font(40px, 500, 1.18);
  letter-spacing: 0.02em;
  color: $primary-text-color;

  transition-property: color;
  transition-duration: $time-animation;
  transition-timing-function: $bezier-animation;

  &.current {
    color: $accent-color;
  }

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}

.contacts-nav-mobile {
  margin-bottom: 64px;
}

.mobile-contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts-link {
  @include font(34px, 500, 1.18);
  letter-spacing: 0.02em;
  color: $title-text-color;

  transition-property: color;
  transition-duration: $time-animation;
  transition-timing-function: $bezier-animation;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.mobile-social-menu {
  display: flex;
  @include font(18px, 500, 1.22);
  letter-spacing: 0.02em;
  color: $accent-color;
}

.mobile-social-text:not(:last-child) {
  margin-right: 10px;

  &::after {
    content: " ";
    margin-left: 10px;
    width: 22px;
    height: 0px;
    border: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.burger-icon,
.mobile-close-button {
  fill: currentColor;
}
